* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    background-color: #add8e6;
}

img {
    width: 100%;
}

.container {
    font-family: "Nerko One", Helvetica, sans-serif;
    width: 65%;
    margin: auto;
}

/* HEADER */
h1 {
    font-size: 75px;
    text-align: center;
    color: white;
}
/* FINE HEADER */

/* MAIN */
.riga {
    text-align: center;
}

.carte {
    margin: 15px;
    overflow: hidden;
    padding: 0px 30px;
    height: 200px;
    width: 17%;
    background-color: white;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    background-image: url("../img/pattern.png");
    background-size: contain;
    position: relative;
}
/* DISPLAY HOVER */
.carte img {
    display: none;
}

.carte h2 {
    display: none;
}

.carte:hover {
    background-image: none;
}

.carte:hover img {
    display: inline-block;
}

.carte:hover h2 {
    display: inline-block;
    color: #e67919;
}
/*FINE DISPLAY HOVER */
h2 {
    font-size: 30px;
    color: #e61986;
    position: absolute;
    bottom: 0px;
    left: 20px;
    right: 20px;
}
/* FINE MAIN */

/* FOOTER */
h3 {
    text-align: center;
}
/* FINE FOOTER */