* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    background-color: grey;
}

img {
    width: 100%;
}

.container {
    font-family: "Nerko One", Helvetica, sans-serif;
    width: 65%;
    margin: auto;
}

/* HEADER */
h1 {
    font-size: 75px;
    text-align: center;
    color: white;
}
/* FINE HEADER */

/* MAIN */
.riga {
    text-align: center;
}

.carte {
    margin: 15px;
    overflow: hidden;
    padding: 0px 30px;
    height: 200px;
    width: 17%;
    background-color: white;
    display: inline-block;
    border-radius: 10px;
    position: relative;
}

h2 {
    font-size: 30px;
    color: violet;
}
/* FINE MAIN */

/* FOOTER */
h3 {
    text-align: center;
}
/* FINE FOOTER */